<a-emotion-pictures namespace="emotion-pictures-with-logo-">
    <style>
        :host {
            --border-radius: 0;
        }
    </style>
    <div>
        <a-steps-heading tag="h2" type="h3" text="Anton Lachky Company (BEL)<br>«Die Anderen»<br>Anton Lachky" isSmall="true">
            <style>
                :host {
                    padding-top: 60px;
                }
            </style>
        </a-steps-heading>
        <a-picture nameSpace="picture-cover-" picture-load
            alt="Steps2024 Antonlachkycompany Lesautres©Romainvennekens 16 9"
            defaultSource="http://via.placeholder.com/1500x980"
            aspect-ratio="0.5625">
            <source
                srcset="http://via.placeholder.com/1500x980"
                type="image/webp" media="(max-width: 200px)">
            <source
                srcset="http://via.placeholder.com/1500x980"
                type="image/webp" media="(min-width: 201px) and (max-width: 400px)">
            <source
                srcset="http://via.placeholder.com/1500x980"
                type="image/webp" media="(min-width: 401px) and (max-width: 600px)">
            <source
                srcset="http://via.placeholder.com/1500x980"
                type="image/webp" media="(min-width: 601px) and (max-width: 800px)">
            <source
                srcset="http://via.placeholder.com/1500x980"
                type="image/webp" media="(min-width: 801px) and (max-width: 1000px)">
            <source
                srcset="http://via.placeholder.com/1500x980"
                type="image/webp" media="(min-width: 1001px) and (max-width: 1200px)">
            <source
                srcset="http://via.placeholder.com/1500x980"
                type="image/webp" media="(min-width: 1201px) and (max-width: 1400px)">
            <source
                srcset="http://via.placeholder.com/1500x980"
                type="image/webp" media="(min-width: 1401px) and (max-width: 1600px)">
            <source
                srcset="http://via.placeholder.com/1500x980"
                type="image/webp" media="(min-width: 1601px) and (max-width: 1800px)">
            <source
                srcset="http://via.placeholder.com/1500x980"
                type="image/webp" media="(min-width: 1801px) and (max-width: 2000px)">
            <source
                srcset="http://via.placeholder.com/1500x980"
                type="image/webp" media="(min-width: 2001px) and (max-width: 2200px)">
            <source
                srcset="http://via.placeholder.com/1500x980"
                type="image/webp" media="(min-width: 2201px) and (max-width: 2400px)">
            <source
                srcset="http://via.placeholder.com/1500x980"
                type="image/webp" media="(min-width: 2401px)">
        </a-picture>
    </div>
</a-emotion-pictures>
