<o-body-style background-color=var(--steps-color-grey-dark)>
  <o-steps-stage>
    <div class="stage__media">
      <a-video namespace="video-crop-" muted autoplay loop="true" video-load aspect-ratio="0.6">
        <style>
          :host video {
            --video-crop-height: 100vh;
            --video-crop-min-height: 100vh;
          }
        </style>
        <source type="video/mp4" src="/src/video/home_mobile.mp4" />
      </a-video>
      <div class="stage__sound">
        <div class="sound-off">
          <svg version="1.1" class="sound-off-svg" xmlns="http://www.w3.org/2000/svg" x="0" y="0"
            viewBox="0 0 220.4 194" style="enable-background:new 0 0 220.4 194" xml:space="preserve">
            <style>
              .st0 {
                fill: #fff
              }
            </style>
            <path class="st0"
              d="M107.7 17.1c-4.3-1.9-7.2.5-10.2 3.1C82.9 32.9 68.3 45.6 53.6 58c-1.8 1.5-4.7 2.6-7.1 2.6-13.2.3-15.3.1-28.5.1-7.4 0-9.9 2.5-9.9 10v52.5c0 7.6 2.2 9.9 9.8 9.9 12.7.1 14.3-.2 27 .2 2.8.1 6.2 1.3 8.4 3.1 15.1 12.8 29.9 25.9 45.1 38.6 2.2 1.8 6.1 2.9 8.9 2.4 4.4-.9 5-5.2 5-9.2V27.4c0-4.2-.2-8.2-4.6-10.3zM183.2 91.7 213.9 61c2.7-2.7 2.7-7.2 0-9.9s-7.2-2.7-9.9 0l-30.8 30.8-30.8-30.8c-2.7-2.7-7.2-2.7-9.9 0s-2.7 7.2 0 9.9l30.8 30.8-30.8 30.8c-2.7 2.7-2.7 7.2 0 9.9 1.4 1.4 3.2 2 5 2s3.6-.7 5-2l30.8-30.8 30.8 30.8c1.4 1.4 3.2 2 5 2s3.6-.7 5-2c2.7-2.7 2.7-7.2 0-9.9l-30.9-30.9z" />
          </svg>
        </div>
        <div class="sound-on">
          <svg version="1.1" class="sound-on-svg" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 220.4 194"
            style="enable-background:new 0 0 220.4 194" xml:space="preserve">
            <style>
              .st0 {
                fill: #fff
              }
            </style>
            <path class="st0"
              d="M107.5 17.4c-4.3-1.9-7.2.5-10.2 3.1-14.7 12.6-29.2 25.3-43.9 37.8-1.8 1.5-4.7 2.6-7.1 2.6-13.2.2-15.3.1-28.5.1-7.4 0-9.9 2.5-9.9 10v52.5c0 7.6 2.2 9.9 9.8 9.9 12.7.1 14.3-.2 27 .2 2.8.1 6.2 1.3 8.4 3.1 15.1 12.8 29.9 25.9 45.1 38.6 2.2 1.8 6.1 2.9 8.9 2.4 4.4-.9 5-5.2 5-9.2V27.7c0-4.3-.2-8.3-4.6-10.3zM178.4 22c-3.5-4.6-7.8-5.8-11.5-3.3-3.8 2.6-3.8 7-.8 11.9 5.2 8.5 11.2 16.7 14.8 25.9 15 38.3 10.1 74.4-14.1 107.7-3.6 5-3.6 9.5.3 12.3 3.7 2.8 7.9 1.6 11.8-3.5 16.8-22.3 25-47.5 25.3-75.4-.3-27.9-8.8-53.2-25.8-75.6z" />
            <path class="st0"
              d="M172.1 69.3c-3.5-9.9-8.9-19.2-14.1-28.5-2.6-4.6-6.9-5.1-10.6-2.4-3.6 2.6-4.1 6.7-1.3 11 .4.7 1 1.4 1.4 2.1 11.3 16.8 16 35.3 13.8 55.5-1.5 14.2-6.5 27.1-14.8 38.7-2.3 3.1-3.2 6.8-.4 9.6 1.8 1.7 5.3 2.7 7.9 2.4 2-.2 4.1-2.6 5.5-4.6 11.4-16.7 17.3-35.1 18.2-55.6-.7-12-2.5-19.2-5.6-28.2z" />
            <path class="st0"
              d="M137 62.1c-3.2-5-8.8-5.5-12.2-1.4-2.7 3.3-1.9 6.7.1 10.2 10 17.6 10.1 35.4.5 53.2-3 5.6-2.5 9.8 1.7 12.1 4.2 2.3 8.2.7 11.3-4.8 5.9-10.3 8.7-21.5 8.9-34.3-.2-12-3.2-24.1-10.3-35z" />
          </svg>
        </div>
      </div>
    </div>
    </div>
    <div class="stage__overlay"></div>
    <div class="stage__content">
      <h2>Save the Date!</h2>
      <span>Next Steps:</span>
      <span>24.4. - 19.5.2024</span>
      <a-button namespace="button-steps-" href="#" target="_self" tabindex="0" data-href="/spielplan" role="link"
        hover="" class="stage__button">
        <style>
          :host a {
            position: relative;
          }

          :host a svg {
            position: absolute;
            right: 1.5rem;
            transition: right 0.3s ease-in-out;
          }

          :host a:hover svg {
            right: 1rem;
          }

          @media (max-width: 768px) {
            :host a {
              padding: 4px 16px;
              /* mobile variable ? */
            }

            :host a span {
              font-size: 16px;
            }

            :host a svg {
              right: 2rem;
            }

            :host a:hover svg {
              right: 1.5rem;
            }
          }
        </style>
        <a href="/spielplan" target="_self" type="button">
          <span id="label">Jetzt Newsletter abonnieren</span>
        </a>
      </a-button>
    </div>
  </o-steps-stage>

  <a-steps-container>

    <o-wrapper namespace="content-dark-">
      <style>
        :host {
          padding-bottom: var(--component-spacing);
        }

        :host p {
          color: var(--steps-color-white);
        }
      </style>
      <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa ipsam molestias ad nulla itaque sint beatae
        quibusdam architecto magni, recusandae possimus non aut inventore omnis ipsum dolores modi sed! Nisi! Lorem,
        ipsum dolor sit amet consectetur adipisicing elit. Culpa ipsam molestias ad nulla itaque sint beatae quibusdam
        architecto magni, recusandae possimus non aut inventore omnis ipsum dolores modi sed! Nisi! Lorem, ipsum dolor
        sit amet consectetur adipisicing elit. Culpa ipsam molestias ad nulla itaque sint beatae quibusdam architecto
        magni, recusandae possimus non aut inventore omnis ipsum dolores modi sed! Nisi!Lorem, ipsum dolor sit amet
        consectetur adipisicing elit. Culpa ipsam molestias ad nulla itaque sint beatae quibusdam architecto magni,
        recusandae possimus non aut inventore omnis ipsum dolores modi sed! Nisi!</p>
    </o-wrapper>

    <o-wrapper namespace="content-dark-">
      <style>
        :host {
          padding-bottom: var(--component-spacing);
        }

        :host p {
          color: var(--steps-color-white);
        }
      </style>
      <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa ipsam molestias ad nulla itaque sint beatae
        quibusdam architecto magni, recusandae possimus non aut inventore omnis ipsum dolores modi sed! Nisi! Lorem,
        ipsum dolor sit amet consectetur adipisicing elit. Culpa ipsam molestias ad nulla itaque sint beatae quibusdam
        architecto magni, recusandae possimus non aut inventore omnis ipsum dolores modi sed! Nisi! Lorem, ipsum dolor
        sit amet consectetur adipisicing elit. Culpa ipsam molestias ad nulla itaque sint beatae quibusdam architecto
        magni, recusandae possimus non aut inventore omnis ipsum dolores modi sed! Nisi!Lorem, ipsum dolor sit amet
        consectetur adipisicing elit. Culpa ipsam molestias ad nulla itaque sint beatae quibusdam architecto magni,
        recusandae possimus non aut inventore omnis ipsum dolores modi sed! Nisi! <a rel="noopener"
          href="https://www.instagram.com/stepsfestival/" target="_blank">Instagram</a></p>
    </o-wrapper>

    <m-steps-tiles>
      <div class="tiles__wrapper">
        <a href="#" class="tiles__tile">
          <h2 class="tiles__title">Programm</h2>
          <a-picture loading="eager" tabindex="0" loaded-bad-quality="true" loaded="true" namespace="picture-cover-">
            <picture>
              <source media="(min-width:768px)" data-srcset="http://via.placeholder.com/350x350"
                srcset="http://via.placeholder.com/350x350">
              <img data-src="http://via.placeholder.com/350x350" decoding="sync" loading="eager"
                src="http://via.placeholder.com/350x350">
            </picture>
          </a-picture>
        </a>
        <a href="#" class="tiles__tile">
          <h2 class="tiles__title">News</h2>
          <a-picture loading="eager" tabindex="0" loaded-bad-quality="true" loaded="true" namespace="picture-cover-">
            <picture>
              <source media="(min-width:768px)" data-srcset="http://via.placeholder.com/350x350"
                srcset="http://via.placeholder.com/350x350">
              <img data-src="http://via.placeholder.com/350x350" decoding="sync" loading="eager"
                src="http://via.placeholder.com/350x350">
            </picture>
          </a-picture>
        </a>
        <a href="#" class="tiles__tile">
          <h2 class="tiles__title">Programm</h2>
          <a-picture loading="eager" tabindex="0" loaded-bad-quality="true" loaded="true" namespace="picture-cover-">
            <picture>
              <source media="(min-width:768px)" data-srcset="http://via.placeholder.com/350x350"
                srcset="http://via.placeholder.com/350x350">
              <img data-src="http://via.placeholder.com/350x350" decoding="sync" loading="eager"
                src="http://via.placeholder.com/350x350">
            </picture>
          </a-picture>
        </a>
        <a href="#" class="tiles__tile">
          <h2 class="tiles__title">News</h2>
          <a-picture loading="eager" tabindex="0" loaded-bad-quality="true" loaded="true" namespace="picture-cover-">
            <picture>
              <source media="(min-width:768px)" data-srcset="http://via.placeholder.com/350x350"
                srcset="http://via.placeholder.com/350x350">
              <img data-src="http://via.placeholder.com/350x350" decoding="sync" loading="eager"
                src="http://via.placeholder.com/350x350">
            </picture>
          </a-picture>
        </a>
      </div>
    </m-steps-tiles>

  </a-steps-container>

</o-body-style>