<a-steps-container>
    <style>
        :host {
            --any-content-width: 55%;
        }

        :host .form-checkbox {
            display: block;
            padding-left: 1.25rem;
            position: relative;
        }

        :host .form-checkbox>label,
        .form-checkbox>p {
            display: inline-block;
            margin-bottom: 0.5rem;
            padding-left: 1rem;
        }

        :host .form-group input[type="checkbox"] {
            box-sizing: border-box;
            margin-left: -1.25rem;
            margin-right: 0.25rem;
            padding: 0;
            position: absolute;
        }

        :host .radiobuttonlist>label {
            padding-left: 0;
            padding-right: 1em;
        }

        :host div+div {
            margin-top: 1rem;
        }

        :host button {
            background: transparent;
            border-radius: 2.5em;
            border: 1px solid var(--steps-color-black);
            font-family: inherit;
            font-size: inherit;
            line-height: 1.5em;
            padding: 6px 24px;
        }
    </style>
    <div>
        <a-steps-heading tag="h2" type="h1" text="Newsletter"></a-steps-heading>
        <m-form>
            <form id="form-form" method="post" action="https://www.xcampaign.ch/dispatcher/service">
                <input type="hidden" name="g-recaptcha-response" value="">
                <input type="hidden" name="ac" value="reg" />
                <input type="hidden" name="clientCode" value="A0vF9xlYuNHyrbdzmH" />
                <input type="hidden" name="doubleOptin" value="1" />
                <input type="hidden" name="xp_sendBackParams" value="0" />
                <input type="hidden" name="xclFormId" value="211206154525600536" />
                <input type="hidden" name="rental_flag" value="0" />
                <input id="item-1" type="hidden" name="spracheid" value="DE" />
                <div class="form-group">
                    <label for="item-2" class="required">E-Mail-Adresse</label>
                    <input id="item-2" type="EMAIL" name="emailadresse" required />
                </div>
                <div class="form-group">
                    <label for="nosalutation">Anrede</label>
                    <div class="radiobuttonlist" id="salutation">
                        <input type="radio" value="neutral" name="salutation" id="nosalutation">
                        <label for="nosalutation">keine Anrede</label>
                        <input type="radio" value="mr" name="salutation" id="men">
                        <label for="men">Herr</label>
                        <input type="radio" value="ms" name="salutation" id="woman">
                        <label for="woman">Frau</label>

                    </div>
                </div>
                <div class="form-group">
                    <label for="item-4">Vorname</label>
                    <input id="item-4" type="TEXT" name="Vorname" />
                </div>
                <div class="form-group">
                    <label for="item-5">Nachname</label>
                    <input id="item-5" type="TEXT" name="Nachname" />
                </div>
                <div class="form-group form-checkbox">
                    <input id="item-6" type="CHECKBOX" name="Tanzschaffende" value="1" />
                    <label for="item-6">Ich bin Tanzschaffende*r und w&uuml;rde gerne zus&auml;tzliche Mailings zu
                        Angeboten
                        von
                        Steps erhalten (z.B. zu Tanzworkshops mit Steps-K&uuml;nstler*innen oder zu Netzwerktreffen im
                        Rahmen des
                        Festivals).</label>
                </div>
                <div class="form-group form-checkbox">
                    <input type="checkbox" name="policy" id="policy" value="1" data-val="true"
                        data-val-required="Bitte füllen Sie das Feld Policy aus" required>
                    <label for="policy">
                        <p>Ich bestätige hiermit, dass ich die <a rel="noopener"
                                href="https://privacy.migros.ch/de.html" target="_blank">Datenschutzbestimmungen</a>
                            gelesen und akzeptiert habe.</p>
                    </label>
                </div>
                <div class="btn-container">
                    <button type="submit">Registrieren</button>
                </div>
            </form>
        </m-form>
    </div>

</a-steps-container>