<a-steps-container>
    <style>
        :host .title {
            margin-bottom: 2rem;
        }

        :host .text {
            margin-bottom: 5rem;
        }

        :host o-wrapper+o-wrapper {
            margin-top: 3rem;
        }
    </style>
    <h1 class="title">News</h1>
    <o-wrapper>
        <style>
            :host section {
                --align-items: flex-start;
            }
        </style>
        <div>
            <span>26. Juli 2023</span>
            <h2 class="heading heading--h2 heading--small">Lorem ipsum</h2>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisici que eos modi rem, maxime at dolorum in omnis
                exercitationem debitis, laudantium minus quasi odit nobis quidem cumque! Doloribus placeat itaque
                voluptatum commodi expedita quae optio, deserunt ipsum quasi ab quod labore nemo hic illum doloremque
                nihil vel minima neque perferendis unde numquam tenetur velit alias obcaecati? Placeat, minima deserunt
                nisi reiciendis sit eum cumque excepturi, dolores consequatur dolorem magnam dolore exercitationem?
                Animi pariatur delectus consequuntur neque quia dolorum quae, dicta quod fuga dignissimos quis soluta
                tempore provident nihil ratione sed dolore numquam earum. Nobis autem soluta obcaecati quis ullam
                excepturi dignissimos qui, eum dolores a temporibus? Animi enim nostrum distinctio, mollitia voluptatem,
                commodi impedit vitae expedita tempora accusantium odio. Officia fuga impedit non, autem facilis quod
                dignissimos corporis voluptatibus numquam amet, explicabo temporibus sint expedita possimus. Modi autem
                ratione temporibus aliquid qui exercitationem ducimus id, soluta, aperiam excepturi quae. Commodi fugit
                impedit eos, minus voluptas nulla libero, minima, maiores natus officia numquam fuga molestias
                consequatur ratione! Ipsa optio, porro fuga ab quas harum odit ex id culpa provident quod nisi beatae
                debitis blanditiis tempore? Cumque voluptate nobis enim animi possimus temporibus earum dolor labore
                natus?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere cupiditate non officia mollitia dolor
                doloremque eos modi rem, maxime at dolorum in omnis exercitationem debitis.</p>
        </div>
    </o-wrapper>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <o-wrapper>
        <style>
            :host section {
                --align-items: flex-start;
            }
        </style>
        <div>
            <span>26. Juli 2023</span>
            <h2 class="heading heading--h2 heading--small">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            </h2>
            <a-picture loading="eager" tabindex="0" loaded-bad-quality="true" loaded="true" namespace="picture-cover-">
                <picture>
                    <source media="(min-width:768px)" data-srcset="http://via.placeholder.com/350x180"
                        srcset="http://via.placeholder.com/350x180">
                    <img data-src="http://via.placeholder.com/350x180" decoding="sync" loading="eager"
                        src="http://via.placeholder.com/350x180">
                </picture>
            </a-picture>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisici que eos modi rem, maxime at dolorum in omnis
                exercitationem debitis, laudantium minus quasi odit nobis quidem cumque! Doloribus placeat itaque
                voluptatum commodi expedita quae optio, deserunt ipsum quasi ab quod labore nemo hic illum doloremque
                nihil vel minima neque perferendis unde numquam tenetur velit alias obcaecati? Placeat, minima deserunt
                nisi reiciendis sit eum cumque excepturi, dolores consequatur dolorem magnam dolore exercitationem?
                Animi pariatur delectus consequuntur neque quia dolorum quae, dicta quod fuga dignissimos quis soluta
                tempore provident nihil ratione sed dolore numquam earum. Nobis autem soluta obcaecati quis ullam
                excepturi dignissimos qui, eum dolores a temporibus? Animi enim nostrum distinctio, mollitia voluptatem,
                commodi impedit vitae expedita tempora accusantium odio. Officia fuga impedit non, autem facilis quod
                dignissimos corporis voluptatibus numquam amet, explicabo temporibus sint expedita possimus. Modi autem
                ratione temporibus aliquid qui exercitationem ducimus id, soluta, aperiam excepturi quae. Commodi fugit
                impedit eos, minus voluptas nulla libero, minima, maiores natus officia numquam fuga molestias
                consequatur ratione! Ipsa optio, porro fuga ab quas harum odit ex id culpa provident quod nisi beatae
                debitis blanditiis tempore? Cumque voluptate nobis enim animi possimus temporibus earum dolor labore
                natus?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere cupiditate non officia mollitia dolor
                doloremque eos modi rem, maxime at dolorum in omnis exercitationem debitis.</p>
        </div>
    </o-wrapper>
</a-steps-container>


<div>
    <style>
        :host {
            --any-content-width: auto;
            --button-primary-line-height: 0;
            --button-primary-icon-right-margin: 3px;
            --button-primary-background-color-custom: transparent;
            --button-primary-icon-height: 2.5em;
        }
    </style>
    <a-steps-button namespace="button-primary-" scroll-to-top>
        <style>
            :host button {
                display: none;
                position: fixed;
                bottom: 20px;
                right: 30px;
                z-index: 99;
                padding: 3px;
            }
        </style>
        <img class="icon-right" src="../../../../img/icons/scroll.png" />
    </a-steps-button>
</div>