<div>
    <style>
        :host div + div {
            margin-top: 4rem;
        }
    </style>
    <div>
        <h2>Eifnache Textseite</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere ipsa est unde ut beatae eligendi modi iure quia, esse soluta commodi eaque enim in quibusdam quod quae doloremque officia voluptatum. Amet cupiditate enim eum, aperiam, nesciunt aut maxime cumque aliquam dicta dolores voluptate temporibus odit eligendi? Consectetur, corrupti consequuntur? Possimus, beatae! Iure maiores sunt quasi accusamus, quos non ad aperiam facere perspiciatis voluptas illum, eaque quibusdam possimus nam. Commodi nesciunt cupiditate maxime est? In nulla cumque veritatis laboriosam similique rerum hic ab est earum. Dignissimos repudiandae sunt accusantium, natus recusandae facilis dolor eligendi eius ad voluptatem assumenda explicabo asperiores deserunt!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam distinctio similique inventore reiciendis ratione consequuntur sunt optio eius dolores perferendis vel magnam error asperiores, numquam praesentium quos nihil sint veniam eaque, ipsum incidunt maxime cum reprehenderit natus? Itaque facilis, corrupti inventore harum ad, neque quam qui delectus quod iusto voluptas!</p>
    </div>
    <div>
        <h2>Lorem Ipsum</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus suscipit quam ea ullam harum. Doloribus, ea fugit. Exercitationem, mollitia animi!</p>
    </div>
</div>